In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("/Users/wl/Desktop/UCB/Data X/Project/Datasets/TrainingDatasetV3.csv",index_col=0,encoding = "latin1")

/Users/wl/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
bay_area_cities = ["Alameda",
"Albany",
"American Canyon",
"Antioch",
"Atherton",
"Belmont",
"Belvedere",
"Benicia",
"Berkeley",
"Brisbane",
"Burlingame",
"Campbell",
"Clayton",
"Colma",
"Concord",
"Corte Madera",
"Cupertino",
"Daly City",
"Danville",
"Dublin",
"East Palo Alto",
"El Cerrito",
"Emeryville",
"Fairfax",
"Foster City",
"Fremont",
"Gilroy",
"Half Moon Bay",
"Hayward",
"Healdsburg",
"Hercules",
"Hillsborough",
"Lafayette",
"Larkspur",
"Livermore",
"Los Altos",
"Los Altos Hills",
"Los Gatos",
"Martinez",
"Menlo Park",
"Mill Valley",
"Millbrae",
"Milpitas",
"Moraga",
"Morgan Hill",
"Mountain View",
"Newark",
"Novato",
"Oakland",
"Oakley",
"Orinda",
"Pacifica",
"Palo Alto",
"Petaluma",
"Piedmont",
"Pinole",
"Pittsburg",
"Pleasanton",
"Redwood City",
"Richmond",
"Rohnert Park",
"Ross",
"Helena",
"San Anselmo",
"San Bruno",
"San Carlos",
"San Francisco",
"San Jose",
"San Leandro",
"San Mateo",
"San Pablo",
"San Rafael",
"San Ramon",
"Santa Clara",
"Santa Rosa",
"Saratoga",
"Sausalito",
"Sebastopol",
"Sonoma",
"South San Francisco",
"Suisun City",
"Sunnyvale",
"Tiburon",
"Union City",
"Vallejo",
"Walnut Creek",
"Windsor",
"Woodside"]

In [4]:
#len(bay_area_cities)

In [5]:
df.columns.get_loc('Location')

23

In [6]:
#df.iloc[1,24]

In [7]:
#df['Location'].astype(str)

In [8]:
#df.isna()

In [9]:
df1=df.dropna(subset=['Location'])

In [10]:
df1.head()

,ID,Birth Year,Gender Flag,Skillset1,Skillset1 Weight,Skillset2,Skillset2 Weight,City of profile,Country of profile,Education,...,Company,Company_Norm,Ticker,Exchange,Location,Industry,Layoff Date,Company Name,Employees Affected,laid_off
0,6b89d91d-7b71-37fe-bb4c-0084018d63c0,2001,0,Software Engineering,0.570285,Web Development,0.277136,San Ramon,United States,0,...,VMware,VMware,VMW,XNYS,"san francisco, ca",Computer Systems Design,3/12/2018,"VMware, Inc",159,0.0
1,6b89d91d-7b71-37fe-bb4c-0084018d63c0,2001,0,Software Engineering,0.570285,Web Development,0.277136,San Ramon,United States,0,...,VMware,VMware,VMW,XNYS,"san francisco, ca",Computer Systems Design,3/28/2016,"VMware, Inc",170,0.0
38,24c681a0-5154-3cfe-b9fc-dab08e2211fe,2001,0,Sales,0.816397,Product Management,0.123156,San Francisco,United States,6,...,Oracle Corporation,Oracle Corporation,ORCL,XNYS,san francisco bay area,Software development and publishing,10/31/2017,"Oracle America, Inc.",964,0.0
39,24c681a0-5154-3cfe-b9fc-dab08e2211fe,2001,0,Sales,0.816397,Product Management,0.123156,San Francisco,United States,6,...,Oracle Corporation,Oracle Corporation,ORCL,XNYS,san francisco bay area,Software development and publishing,3/20/2017,"Oracle America, Inc.",441,0.0
40,24c681a0-5154-3cfe-b9fc-dab08e2211fe,2001,0,Sales,0.816397,Product Management,0.123156,San Francisco,United States,6,...,Oracle Corporation,Oracle Corporation,ORCL,XNYS,san francisco bay area,Software development and publishing,10/31/2017,"Oracle America, Inc.",964,0.0

In [11]:
df1['temp']=1
df1.head()

/Users/wl/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,ID,Birth Year,Gender Flag,Skillset1,Skillset1 Weight,Skillset2,Skillset2 Weight,City of profile,Country of profile,Education,...,Company_Norm,Ticker,Exchange,Location,Industry,Layoff Date,Company Name,Employees Affected,laid_off,temp
0,6b89d91d-7b71-37fe-bb4c-0084018d63c0,2001,0,Software Engineering,0.570285,Web Development,0.277136,San Ramon,United States,0,...,VMware,VMW,XNYS,"san francisco, ca",Computer Systems Design,3/12/2018,"VMware, Inc",159,0.0,1
1,6b89d91d-7b71-37fe-bb4c-0084018d63c0,2001,0,Software Engineering,0.570285,Web Development,0.277136,San Ramon,United States,0,...,VMware,VMW,XNYS,"san francisco, ca",Computer Systems Design,3/28/2016,"VMware, Inc",170,0.0,1
38,24c681a0-5154-3cfe-b9fc-dab08e2211fe,2001,0,Sales,0.816397,Product Management,0.123156,San Francisco,United States,6,...,Oracle Corporation,ORCL,XNYS,san francisco bay area,Software development and publishing,10/31/2017,"Oracle America, Inc.",964,0.0,1
39,24c681a0-5154-3cfe-b9fc-dab08e2211fe,2001,0,Sales,0.816397,Product Management,0.123156,San Francisco,United States,6,...,Oracle Corporation,ORCL,XNYS,san francisco bay area,Software development and publishing,3/20/2017,"Oracle America, Inc.",441,0.0,1
40,24c681a0-5154-3cfe-b9fc-dab08e2211fe,2001,0,Sales,0.816397,Product Management,0.123156,San Francisco,United States,6,...,Oracle Corporation,ORCL,XNYS,san francisco bay area,Software development and publishing,10/31/2017,"Oracle America, Inc.",964,0.0,1

In [12]:
df1.index = np.arange(0, len(df1))
df1.head()

,ID,Birth Year,Gender Flag,Skillset1,Skillset1 Weight,Skillset2,Skillset2 Weight,City of profile,Country of profile,Education,...,Company_Norm,Ticker,Exchange,Location,Industry,Layoff Date,Company Name,Employees Affected,laid_off,temp
0,6b89d91d-7b71-37fe-bb4c-0084018d63c0,2001,0,Software Engineering,0.570285,Web Development,0.277136,San Ramon,United States,0,...,VMware,VMW,XNYS,"san francisco, ca",Computer Systems Design,3/12/2018,"VMware, Inc",159,0.0,1
1,6b89d91d-7b71-37fe-bb4c-0084018d63c0,2001,0,Software Engineering,0.570285,Web Development,0.277136,San Ramon,United States,0,...,VMware,VMW,XNYS,"san francisco, ca",Computer Systems Design,3/28/2016,"VMware, Inc",170,0.0,1
2,24c681a0-5154-3cfe-b9fc-dab08e2211fe,2001,0,Sales,0.816397,Product Management,0.123156,San Francisco,United States,6,...,Oracle Corporation,ORCL,XNYS,san francisco bay area,Software development and publishing,10/31/2017,"Oracle America, Inc.",964,0.0,1
3,24c681a0-5154-3cfe-b9fc-dab08e2211fe,2001,0,Sales,0.816397,Product Management,0.123156,San Francisco,United States,6,...,Oracle Corporation,ORCL,XNYS,san francisco bay area,Software development and publishing,3/20/2017,"Oracle America, Inc.",441,0.0,1
4,24c681a0-5154-3cfe-b9fc-dab08e2211fe,2001,0,Sales,0.816397,Product Management,0.123156,San Francisco,United States,6,...,Oracle Corporation,ORCL,XNYS,san francisco bay area,Software development and publishing,10/31/2017,"Oracle America, Inc.",964,0.0,1

In [13]:
for i in range(len(df1)):
    location=df1.iloc[i,23]
    for k in range(len(bay_area_cities)):
        if bay_area_cities[k].lower() in location.lower():
            #print('yes')
            df1.at[i, 'Location'] = bay_area_cities[k]
            break
        elif k==len(bay_area_cities)-1:
            df1.at[i, 'temp'] = 0

In [14]:
df1.head(20)

,ID,Birth Year,Gender Flag,Skillset1,Skillset1 Weight,Skillset2,Skillset2 Weight,City of profile,Country of profile,Education,...,Company_Norm,Ticker,Exchange,Location,Industry,Layoff Date,Company Name,Employees Affected,laid_off,temp
0,6b89d91d-7b71-37fe-bb4c-0084018d63c0,2001,0,Software Engineering,0.570285,Web Development,0.277136,San Ramon,United States,0,...,VMware,VMW,XNYS,San Francisco,Computer Systems Design,3/12/2018,"VMware, Inc",159,0.0,1
1,6b89d91d-7b71-37fe-bb4c-0084018d63c0,2001,0,Software Engineering,0.570285,Web Development,0.277136,San Ramon,United States,0,...,VMware,VMW,XNYS,San Francisco,Computer Systems Design,3/28/2016,"VMware, Inc",170,0.0,1
2,24c681a0-5154-3cfe-b9fc-dab08e2211fe,2001,0,Sales,0.816397,Product Management,0.123156,San Francisco,United States,6,...,Oracle Corporation,ORCL,XNYS,San Francisco,Software development and publishing,10/31/2017,"Oracle America, Inc.",964,0.0,1
3,24c681a0-5154-3cfe-b9fc-dab08e2211fe,2001,0,Sales,0.816397,Product Management,0.123156,San Francisco,United States,6,...,Oracle Corporation,ORCL,XNYS,San Francisco,Software development and publishing,3/20/2017,"Oracle America, Inc.",441,0.0,1
4,24c681a0-5154-3cfe-b9fc-dab08e2211fe,2001,0,Sales,0.816397,Product Management,0.123156,San Francisco,United States,6,...,Oracle Corporation,ORCL,XNYS,San Francisco,Software development and publishing,10/31/2017,"Oracle America, Inc.",964,0.0,1
5,24c681a0-5154-3cfe-b9fc-dab08e2211fe,2001,0,Sales,0.816397,Product Management,0.123156,San Francisco,United States,6,...,Oracle Corporation,ORCL,XNYS,San Francisco,Software development and publishing,3/20/2017,"Oracle America, Inc.",441,0.0,1
6,a51fdeda-7a3b-3511-adef-bf46cdb4a17d,1993,1,Administration,0.588247,Administration,0.183109,San Jose,United States,0,...,Broadcom,AVGO,XNAS,Sunnyvale,Semiconductor Manufacturing,3/16/2015,Broadcom Corporation,60,0.0,1
7,a51fdeda-7a3b-3511-adef-bf46cdb4a17d,1993,1,Administration,0.588247,Administration,0.183109,San Jose,United States,0,...,Broadcom,AVGO,XNAS,Sunnyvale,Semiconductor Manufacturing,9/26/2014,Broadcom Corporation,75,0.0,1
8,a51fdeda-7a3b-3511-adef-bf46cdb4a17d,1993,1,Administration,0.588247,Administration,0.183109,San Jose,United States,0,...,Broadcom,AVGO,XNAS,Sunnyvale,Semiconductor Manufacturing,3/31/2016,Broadcom Corporation,663,0.0,1
9,cf42dcd3-d828-3c21-8e65-75878925b020,2001,1,Digital Marketing,0.319557,Web Design,0.205777,San Francisco,United States,4,...,Intel Corporation,INTC,XNAS,Santa Clara,Semiconductor Manufacturing,6/30/2018,Intel Corporation,65,0.0,1
10,cf42dcd3-d828-3c21-8e65-75878925b020,2001,1,Digital Marketing,0.319557,Web Design,0.205777,San Francisco,United States,4,...,Intel Corporation,INTC,XNAS,Santa Clara,Semiconductor Manufacturing,12/31/2016,Intel Corporation,84,0.0,1
11,cf42dcd3-d828-3c21-8e65-75878925b020,2001,1,Digital Marketing,0.319557,Web Design,0.205777,San Francisco,United States,4,...,Intel Corporation,INTC,XNAS,Santa Clara,Semiconductor Manufacturing,2/24/2017,Intel Corporation,54,0.0,1
12,cf42dcd3-d828-3c21-8e65-75878925b020,2001,1,Digital Marketing,0.319557,Web Design,0.205777,San Francisco,United States,4,...,Intel Corporation,INTC,XNAS,Santa Clara,Semiconductor Manufacturing,5/31/2016,Intel Corporation,296,0.0,1
13,cf42dcd3-d828-3c21-8e65-75878925b020,2001,1,Digital Marketing,0.319557,Web Design,0.205777,San Francisco,United States,4,...,Intel Corporation,INTC,XNAS,Santa Clara,Semiconductor Manufacturing,7/15/2015,Intel Corporation,165,0.0,1
14,cf42dcd3-d828-3c21-8e65-75878925b020,2001,1,Digital Marketing,0.319557,Web Design,0.205777,San Francisco,United States,4,...,Intel Corporation,INTC,XNAS,Santa Clara,Semiconductor Manufacturing,8/15/2017,Intel Corporation,93,0.0,1
15,cf42dcd3-d828-3c21-8e65-75878925b020,2001,1,Digital Marketing,0.319557,Web Design,0.205777,San Francisco,United States,4,...,SanDisk,WDC,XNAS,Milpitas,CD-ROM drives manufacturing,10/23/2015,"Western Digital Technologies, Inc.",56,0.0,1
16,cf42dcd3-d828-3c21-8e65-75878925b020,2001,1,Digital Marketing,0.319557,Web Design,0.205777,San Francisco,United States,4,...,SanDisk,WDC,XNAS,Milpitas,CD-ROM drives manufacturing,10/24/2016,"Western Digital Technologies, Inc.",59,0.0,1
17,cf42dcd3-d828-3c21-8e65-75878925b020,2001,1,Digital Marketing,0.319557,Web Design,0.205777,San Francisco,United States,4,...,SanDisk,WDC,XNAS,Milpitas,CD-ROM drives manufacturing,6/17/2016,"Western Digital Technologies, Inc.",71,0.0,1
18,cf42dcd3-d828-3c21-8e65-75878925b020,2001,1,Digital Marketing,0.319557,Web Design,0.205777,San Francisco,United States,4,...,SanDisk,WDC,XNAS,Milpitas,CD-ROM drives manufacturing,6/2/2017,"Western Digital Technologies, Inc.",131,0.0,1
19,cf42dcd3-d828-3c21-8e65-75878925b020,2001,1,Digital Marketing,0.319557,Web Design,0.205777,San Francisco,United States,4,...,SanDisk,WDC,XNAS,Milpitas,CD-ROM drives manufacturing,7/3/2016,"Western Digital Technologies, Inc.",337,0.0,1

In [15]:
df2 = df1.drop(df1[df1['temp']==0].index)

In [16]:
df_final = df2.drop('temp',axis=1)

In [17]:
df_final.index = np.arange(0, len(df_final))
df_final.head()

,ID,Birth Year,Gender Flag,Skillset1,Skillset1 Weight,Skillset2,Skillset2 Weight,City of profile,Country of profile,Education,...,Company,Company_Norm,Ticker,Exchange,Location,Industry,Layoff Date,Company Name,Employees Affected,laid_off
0,6b89d91d-7b71-37fe-bb4c-0084018d63c0,2001,0,Software Engineering,0.570285,Web Development,0.277136,San Ramon,United States,0,...,VMware,VMware,VMW,XNYS,San Francisco,Computer Systems Design,3/12/2018,"VMware, Inc",159,0.0
1,6b89d91d-7b71-37fe-bb4c-0084018d63c0,2001,0,Software Engineering,0.570285,Web Development,0.277136,San Ramon,United States,0,...,VMware,VMware,VMW,XNYS,San Francisco,Computer Systems Design,3/28/2016,"VMware, Inc",170,0.0
2,24c681a0-5154-3cfe-b9fc-dab08e2211fe,2001,0,Sales,0.816397,Product Management,0.123156,San Francisco,United States,6,...,Oracle Corporation,Oracle Corporation,ORCL,XNYS,San Francisco,Software development and publishing,10/31/2017,"Oracle America, Inc.",964,0.0
3,24c681a0-5154-3cfe-b9fc-dab08e2211fe,2001,0,Sales,0.816397,Product Management,0.123156,San Francisco,United States,6,...,Oracle Corporation,Oracle Corporation,ORCL,XNYS,San Francisco,Software development and publishing,3/20/2017,"Oracle America, Inc.",441,0.0
4,24c681a0-5154-3cfe-b9fc-dab08e2211fe,2001,0,Sales,0.816397,Product Management,0.123156,San Francisco,United States,6,...,Oracle Corporation,Oracle Corporation,ORCL,XNYS,San Francisco,Software development and publishing,10/31/2017,"Oracle America, Inc.",964,0.0

In [18]:
df_final.to_csv('Location Revised.csv')